{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

   {% block content %}

       {% for post in object_list %}
           <div class="post-entry">
               <h2><a href="{% url 'post_detail' post.pk %}">{{ post.name}}</a></h2>
                <ul>
                    <li><b>Name:</b>  {{ post.name }}</li>
                    <li><b>SurName:</b>  {{ post.surname }}</li>
                    <li><b>Adress:</b>  {{ post.adress }}</li>
                    <li><b>Phone Number:</b>  {{ post.phonenumber}}</li>
                    <li><b>Discript</b>  {{ post.discrict }}</li>
                    <li><b>Diagnos</b>  {{ post.diagnos }}</li>

                </ul>


           </div>
       {% endfor %}
   {% endblock content %}


</body>
</html>